body {
	background-image: url(header.jpg);
	background-position: 0% 0%;
}

p, header, h1 {
	color: white;
	font-family: 'Teko', sans-serif;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
 }

header {
	text-align: left; /*this will override style above*/
	padding-top: 160px;

}

.footer-container {
	color: white;
	font-family: 'Teko', sans-serif;
	display: inline-block;
	position: fixed;
	text-align: left;
	bottom: 5px;

}

.signup-button {

	display: inline-block;
    position: absolute;
    border: 2px solid rgba(59, 59, 59, .2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 75px;
    margin: auto;
    background-color: rgba(93, 93, 93, .2); 
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	text-align: center;
 	padding-top: 10px;
 	color: white;
	font-family: 'Teko', sans-serif;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;

}

.signup-button:hover {
	background-color: rgb(93, 93, 93);

/*Social media icons */



/*label { -----> from the old form
	color: white;
	font-family: 'VT323', monospace;
	font-size: 2em;
}

.form-check-label {
	color: white;
	font-family: 'VT323', monospace;
	font-size: 20px;
	padding-bottom: 15px;
}